<div class="row">
  <div class="col-md-6">
    {{#if editFormOpenForReal}}
      <h1>hey</h1>
      {{!-- {{product-update update2="update3" product=model}} --}}
    {{else}}
      <h1>yo</h1>
      {{!-- {{product-add product=model saveProduct2="saveProduct3"}} --}}
    {{/if}}
    {{admin-inventory products=products delete2="delete3" openEditForm="openEditForm"}}
  </div>
  <div class="col-md-6">
    {{!-- tables --}}
  </div>
</div>
