<div class="jumbotron">
  <div class="container">
    {{#link-to 'index'}}
      <h1>Ninja Shoppe!</h1>
    {{/link-to}}
  </div>
</div>
{{!-- <div class="container"> --}}
  {{outlet}}
{{!-- </div> --}}
