{{!-- {{user-login users=model confirmLogin2="confirmLogin3"}} --}}



<div class="row">
  <div class="col-md-10">
    {{#each model.products as |product|}}
      {{product-tile product=product removeFromStock="removeFromStock1"}}
    {{else}}
      <h1>Out of stock for EVERYTHING!</h1>
    {{/each}}
  </div>
  <div class="col-md-2">
    {{#link-to 'admin'}}
      <button id="admin-button" class="btn btn-primary">Get thee to an admin page!</button>
    {{/link-to}}
    <div id="sidebar">
      {{display-cart putBackOnShelf="putBackOnShelf"}}
    </div>
  </div>
</div>
